In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('futbol_estadisticas.csv', index_col="jugador_id")
df.sample(5)

,nombre_jugador,año,juegos,goles,goles_sin_penalti,tiros,asistencias,tarjetas_amarillas,tarjetas_rojas,posicion,nombre_equipo,tiempo
jugador_id,,,,,,,,,,,,
1942,Martín Cáceres,2018,9,0,0,4,0,1,0,D S,Juventus,625
6533,Anthony Lozano,2018,20,0,0,23,0,4,1,F M S,Girona,713
5353,Josip Brekalo,2016,4,0,0,4,0,1,0,S,Wolfsburg,74
1350,Jonathan de Guzmán,2019,8,0,0,1,1,1,0,S,Eintracht Frankfurt,64
108,Manuel Schmiedebach,2017,6,0,0,0,0,1,0,M S,Hannover 96,166

In [4]:
df.size

223596

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18633 entries, 8865 to 4363
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nombre_jugador      18633 non-null  object
 1   año                 18633 non-null  int64
 2   juegos              18633 non-null  int64
 3   goles               18633 non-null  int64
 4   goles_sin_penalti   18633 non-null  int64
 5   tiros               18633 non-null  int64
 6   asistencias         18633 non-null  int64
 7   tarjetas_amarillas  18633 non-null  int64
 8   tarjetas_rojas      18633 non-null  int64
 9   posicion            18633 non-null  object
 10  nombre_equipo       18633 non-null  object
 11  tiempo              18633 non-null  int64
dtypes: int64(9), object(3)
memory usage: 1.8+ MB

In [6]:
df.describe()

,año,juegos,goles,goles_sin_penalti,tiros,asistencias,tarjetas_amarillas,tarjetas_rojas,tiempo
count,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000
mean,2016.937691,17.072291,1.624054,1.478399,15.323888,1.138088,2.453979,0.127569,1207.483282
std,1.976606,11.375527,3.252418,2.891849,20.934645,1.936238,2.685745,0.370656,975.753086
min,2014.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2015.000000,7.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,326.000000
50%,2017.000000,16.000000,0.000000,0.000000,8.000000,0.000000,2.000000,0.000000,976.000000
75%,2019.000000,27.000000,2.000000,2.000000,21.000000,2.000000,4.000000,0.000000,2004.000000
max,2020.000000,38.000000,48.000000,38.000000,227.000000,20.000000,17.000000,5.000000,3420.000000

In [7]:
df.sort_values("nombre_jugador", ascending=True)

,nombre_jugador,año,juegos,goles,goles_sin_penalti,tiros,asistencias,tarjetas_amarillas,tarjetas_rojas,posicion,nombre_equipo,tiempo
jugador_id,,,,,,,,,,,,
7991,Aaron Connolly,2020,8,1,1,9,1,0,0,F S,Brighton,425
7991,Aaron Connolly,2019,24,3,3,36,1,0,0,F S,Brighton,1279
534,Aaron Cresswell,2014,38,2,2,19,4,5,0,D,West Ham,3420
534,Aaron Cresswell,2017,36,1,1,21,7,7,0,D S,West Ham,3081
534,Aaron Cresswell,2015,37,2,2,28,4,1,0,D M,West Ham,3319
...,...,...,...,...,...,...,...,...,...,...,...,...
2646,Özkan Yildirim,2014,1,0,0,0,0,0,0,M,Werder Bremen,60
2646,Özkan Yildirim,2015,1,0,0,1,0,0,0,S,Werder Bremen,13
250,Ørjan Nyland,2016,12,0,0,0,0,0,0,GK S,Ingolstadt,1021
250,Ørjan Nyland,2015,6,0,0,0,0,0,0,GK,Ingolstadt,540
250,Ørjan Nyland,2019,7,0,0,0,0,0,0,GK S,Aston Villa,536

In [8]:
df.sort_values(["nombre_jugador", "año"], ascending=[True, False])

,nombre_jugador,año,juegos,goles,goles_sin_penalti,tiros,asistencias,tarjetas_amarillas,tarjetas_rojas,posicion,nombre_equipo,tiempo
jugador_id,,,,,,,,,,,,
7991,Aaron Connolly,2020,8,1,1,9,1,0,0,F S,Brighton,425
7991,Aaron Connolly,2019,24,3,3,36,1,0,0,F S,Brighton,1279
534,Aaron Cresswell,2020,11,0,0,4,3,0,0,D,West Ham,990
534,Aaron Cresswell,2019,31,3,3,18,0,7,0,D,West Ham,2739
534,Aaron Cresswell,2018,20,0,0,11,1,1,0,D S,West Ham,1586
...,...,...,...,...,...,...,...,...,...,...,...,...
2646,Özkan Yildirim,2015,1,0,0,1,0,0,0,S,Werder Bremen,13
2646,Özkan Yildirim,2014,1,0,0,0,0,0,0,M,Werder Bremen,60
250,Ørjan Nyland,2019,7,0,0,0,0,0,0,GK S,Aston Villa,536
250,Ørjan Nyland,2016,12,0,0,0,0,0,0,GK S,Ingolstadt,1021
250,Ørjan Nyland,2015,6,0,0,0,0,0,0,GK,Ingolstadt,540

In [9]:
nombres = df[["nombre_jugador", "juegos"]]
nombres

                 nombre_jugador  juegos
jugador_id
8865              Ollie Watkins       9
675               Jack Grealish       9
592                Ross Barkley       6
1024               Tyrone Mings       9
7726           Ezri Konsa Ngoyo       9
...                         ...     ...
4267           Florian Hartherz      10
4268        Christian Strohdiek      22
4311                 Idir Ouali       6
4334               Mirnes Pepic       2
4363             Thomas Bertels       1

[18633 rows x 2 columns]

In [10]:
df[df.año == 2020]

,nombre_jugador,año,juegos,goles,goles_sin_penalti,tiros,asistencias,tarjetas_amarillas,tarjetas_rojas,posicion,nombre_equipo,tiempo
jugador_id,,,,,,,,,,,,
8865,Ollie Watkins,2020,9,6,5,22,1,0,0,F,Aston Villa,810
675,Jack Grealish,2020,9,5,5,26,5,2,0,F M,Aston Villa,810
592,Ross Barkley,2020,6,2,2,17,1,0,0,M,Aston Villa,454
1024,Tyrone Mings,2020,9,2,2,7,1,2,0,D,Aston Villa,810
7726,Ezri Konsa Ngoyo,2020,9,2,2,7,0,0,0,D,Aston Villa,810
...,...,...,...,...,...,...,...,...,...,...,...,...
8797,Nils Seufert,2020,5,0,0,1,0,0,0,M S,Arminia Bielefeld,234
8799,Joakim Nilsson,2020,3,0,0,1,0,0,0,D S,Arminia Bielefeld,194
8958,Reinhold Yabo,2020,7,0,0,3,0,0,0,M S,Arminia Bielefeld,283
9006,Brian Behrendt,2020,3,0,0,2,0,0,0,S,Arminia Bielefeld,73
9128,Andreas Voglsammer,2020,3,0,0,1,0,0,0,S,Arminia Bielefeld,47

In [11]:
df[df["año"] == 2020]

,nombre_jugador,año,juegos,goles,goles_sin_penalti,tiros,asistencias,tarjetas_amarillas,tarjetas_rojas,posicion,nombre_equipo,tiempo
jugador_id,,,,,,,,,,,,
8865,Ollie Watkins,2020,9,6,5,22,1,0,0,F,Aston Villa,810
675,Jack Grealish,2020,9,5,5,26,5,2,0,F M,Aston Villa,810
592,Ross Barkley,2020,6,2,2,17,1,0,0,M,Aston Villa,454
1024,Tyrone Mings,2020,9,2,2,7,1,2,0,D,Aston Villa,810
7726,Ezri Konsa Ngoyo,2020,9,2,2,7,0,0,0,D,Aston Villa,810
...,...,...,...,...,...,...,...,...,...,...,...,...
8797,Nils Seufert,2020,5,0,0,1,0,0,0,M S,Arminia Bielefeld,234
8799,Joakim Nilsson,2020,3,0,0,1,0,0,0,D S,Arminia Bielefeld,194
8958,Reinhold Yabo,2020,7,0,0,3,0,0,0,M S,Arminia Bielefeld,283
9006,Brian Behrendt,2020,3,0,0,2,0,0,0,S,Arminia Bielefeld,73
9128,Andreas Voglsammer,2020,3,0,0,1,0,0,0,S,Arminia Bielefeld,47

In [12]:
df[(df["año"] == 2020) & (df["nombre_jugador"]=="Andreas Voglsammer")]

,nombre_jugador,año,juegos,goles,goles_sin_penalti,tiros,asistencias,tarjetas_amarillas,tarjetas_rojas,posicion,nombre_equipo,tiempo
jugador_id,,,,,,,,,,,,
9128,Andreas Voglsammer,2020,3,0,0,1,0,0,0,S,Arminia Bielefeld,47

In [13]:
anios = [2018, 2020]

df[df['año'].isin(anios)]

,nombre_jugador,año,juegos,goles,goles_sin_penalti,tiros,asistencias,tarjetas_amarillas,tarjetas_rojas,posicion,nombre_equipo,tiempo
jugador_id,,,,,,,,,,,,
8865,Ollie Watkins,2020,9,6,5,22,1,0,0,F,Aston Villa,810
675,Jack Grealish,2020,9,5,5,26,5,2,0,F M,Aston Villa,810
592,Ross Barkley,2020,6,2,2,17,1,0,0,M,Aston Villa,454
1024,Tyrone Mings,2020,9,2,2,7,1,2,0,D,Aston Villa,810
7726,Ezri Konsa Ngoyo,2020,9,2,2,7,0,0,0,D,Aston Villa,810
...,...,...,...,...,...,...,...,...,...,...,...,...
7042,Timothy Tillman,2018,6,0,0,3,0,0,0,M S,Nuernberg,198
7104,Enrico Valentini,2018,15,0,0,8,2,2,0,D,Nuernberg,1305
7105,Kevin Goden,2018,5,0,0,0,0,1,0,D M S,Nuernberg,270
7213,Ewerton,2018,18,0,0,8,0,2,0,D S,Nuernberg,1339
7214,Simon Rhein,2018,8,0,0,1,0,1,1,M S,Nuernberg,496

In [14]:
filas = [1, 7104,7105]
df.loc[filas,:]

,nombre_jugador,año,juegos,goles,goles_sin_penalti,tiros,asistencias,tarjetas_amarillas,tarjetas_rojas,posicion,nombre_equipo,tiempo
jugador_id,,,,,,,,,,,,
1,Christian Mathenia,2018,22,0,0,0,0,2,0,GK,Nuernberg,1933
1,Christian Mathenia,2017,24,0,0,0,0,2,0,GK,Hamburger SV,2160
1,Christian Mathenia,2016,14,0,0,0,0,1,0,GK,Hamburger SV,1260
1,Christian Mathenia,2015,33,0,0,0,0,3,0,GK,Darmstadt,2970
7104,Enrico Valentini,2018,15,0,0,8,2,2,0,D,Nuernberg,1305
7105,Kevin Goden,2018,5,0,0,0,0,1,0,D M S,Nuernberg,270

In [15]:
goles_totales = df["goles"].sum()
goles_totales

30261

In [16]:
goles_max = df["goles"].max()
goles_max

48

In [17]:
columnas = ["nombre_jugador", "goles", "año"]
df[df["goles"] == goles_max][columnas]

               nombre_jugador  goles   año
jugador_id
2371        Cristiano Ronaldo     48  2014

In [18]:
# Calcule el porcentaje de tiros al arco que terminan en gol, tenga en cuenta lo siguiente:
# $porcentaje = goles totales / tiros totales * 100$

In [19]:
goles_totales = df["goles"].sum()
goles_totales

tiros_totales = df["tiros"].sum()
tiros_totales

porcentaje = goles_totales / tiros_totales * 100
round(porcentaje, 2)

10.6

In [20]:
df

,nombre_jugador,año,juegos,goles,goles_sin_penalti,tiros,asistencias,tarjetas_amarillas,tarjetas_rojas,posicion,nombre_equipo,tiempo
jugador_id,,,,,,,,,,,,
8865,Ollie Watkins,2020,9,6,5,22,1,0,0,F,Aston Villa,810
675,Jack Grealish,2020,9,5,5,26,5,2,0,F M,Aston Villa,810
592,Ross Barkley,2020,6,2,2,17,1,0,0,M,Aston Villa,454
1024,Tyrone Mings,2020,9,2,2,7,1,2,0,D,Aston Villa,810
7726,Ezri Konsa Ngoyo,2020,9,2,2,7,0,0,0,D,Aston Villa,810
...,...,...,...,...,...,...,...,...,...,...,...,...
4267,Florian Hartherz,2014,10,0,0,1,2,1,1,D S,Paderborn,775
4268,Christian Strohdiek,2014,22,0,0,6,0,2,0,D S,Paderborn,1608
4311,Idir Ouali,2014,6,0,0,4,0,1,0,M S,Paderborn,296
4334,Mirnes Pepic,2014,2,0,0,0,0,0,0,S,Paderborn,20
4363,Thomas Bertels,2014,1,0,0,0,0,0,0,S,Paderborn,3

In [21]:
df.pivot(index="nombre_jugador", columns="año", values='goles')

ValueError: Index contains duplicate entries, cannot reshape

In [ ]:
agrupacion_nombre_max = df.groupby(['nombre_jugador'])[['goles']].max()
agrupacion_nombre_max

                 goles
nombre_jugador
Aaron Connolly       3
Aaron Cresswell      3
Aaron Hickey         0
Aaron Hunt           4
Aaron Lennon         5
...                ...
Óscar Romero         0
Óscar Trejo          4
Ömer Toprak          1
Özkan Yildirim       0
Ørjan Nyland         0

[6171 rows x 1 columns]

In [ ]:
agrupacion_nombre_max2 = df.groupby(['nombre_jugador'])[['goles']].agg([max])
agrupacion_nombre_max2

In [ ]:
agrupacion_nombre_total = df.groupby(['nombre_jugador'])[['goles']].sum()
agrupacion_nombre_totalagrupacion_nombre_total

                 goles
nombre_jugador
Aaron Connolly       4
Aaron Cresswell      8
Aaron Hickey         0
Aaron Hunt          10
Aaron Lennon         8
...                ...
Óscar Romero         0
Óscar Trejo         11
Ömer Toprak          3
Özkan Yildirim       0
Ørjan Nyland         0

[6171 rows x 1 columns]

In [ ]:
top_jugadores = agrupacion_nombre_total.sort_values(ascending=False).head(10)

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

In [ ]:
agrupacion_equipo_total_rojas = df.groupby(['nombre_equipo'])[['tarjetas_rojas', 'tarjetas_amarillas']].sum()
agrupacion_equipo_total_rojas

                         tarjetas_rojas  tarjetas_amarillas
nombre_equipo
AC Milan                             43                 513
Alaves                               21                 444
Almeria                              11                 104
Amiens                               15                 181
Angers                               21                 317
...                                 ...                 ...
Werder Bremen                        14                 418
West Bromwich Albion                  9                 294
West Ham                             16                 410
Wolfsburg                            17                 361
Wolverhampton Wanderers               3                 143

[147 rows x 2 columns]

In [ ]:
df_rojas = agrupacion_equipo_total_rojas.sort_values("tarjetas_rojas",ascending=False).head(5)
df_rojas

               tarjetas_rojas  tarjetas_amarillas
nombre_equipo
AC Milan                   43                 513
Genoa                      42                 562
Valencia                   39                 598
Bologna                    38                 477
Lazio                      35                 576

In [ ]:
df_amarillas = agrupacion_equipo_total_rojas.sort_values("tarjetas_amarillas",ascending=False).head(5)
df_amarillas

               tarjetas_rojas  tarjetas_amarillas
nombre_equipo
Sevilla                    24                 640
Getafe                     29                 619
Celta Vigo                 34                 613
Valencia                   39                 598
Athletic Club              19                 594

EJ 5. Indique quienes fueron los 5 jugadores más efectivos, para ello debe sumar el total de goles y asistencias de un solo jugador y guardarlo en una nueva columna.

In [ ]:
df['efectividad'] = df['goles'] + df['asistencias']
df

In [ ]:
agrupacion_nombre_efectividad = df.groupby(['nombre_jugador'])[['efectividad']].sum()
agrupacion_nombre_efectividad

                 efectividad
nombre_jugador
Aaron Connolly             6
Aaron Cresswell           29
Aaron Hickey               0
Aaron Hunt                16
Aaron Lennon              14
...                      ...
Óscar Romero               1
Óscar Trejo               27
Ömer Toprak                4
Özkan Yildirim             0
Ørjan Nyland               0

[6171 rows x 1 columns]

In [ ]:
top_efectivos = agrupacion_nombre_efectividad.sort_values("efectividad",ascending=False).head()
top_efectivos

                    efectividad
nombre_jugador
Lionel Messi                293
Cristiano Ronaldo           246
Luis Suárez                 224
Robert Lewandowski          203
Harry Kane                  178

EJ 6. Encuentra la cantidad de goles totales hechos por cada posición.

In [ ]:
agrupar_por_posicion = df.groupby(['posicion'])[['goles']].sum()
agrupar_por_posicion.sort_values("goles", ascending=False)

          goles
posicion
F M S      9718
F S        8118
M S        4536
D S        1494
D          1238
D M S      1213
F          1022
F M         982
M           764
D F M S     637
D M         360
S            90
D F M        62
D F S        25
GK            1
GK S          1
D F           0

In [22]:
df

,nombre_jugador,año,juegos,goles,goles_sin_penalti,tiros,asistencias,tarjetas_amarillas,tarjetas_rojas,posicion,nombre_equipo,tiempo
jugador_id,,,,,,,,,,,,
8865,Ollie Watkins,2020,9,6,5,22,1,0,0,F,Aston Villa,810
675,Jack Grealish,2020,9,5,5,26,5,2,0,F M,Aston Villa,810
592,Ross Barkley,2020,6,2,2,17,1,0,0,M,Aston Villa,454
1024,Tyrone Mings,2020,9,2,2,7,1,2,0,D,Aston Villa,810
7726,Ezri Konsa Ngoyo,2020,9,2,2,7,0,0,0,D,Aston Villa,810
...,...,...,...,...,...,...,...,...,...,...,...,...
4267,Florian Hartherz,2014,10,0,0,1,2,1,1,D S,Paderborn,775
4268,Christian Strohdiek,2014,22,0,0,6,0,2,0,D S,Paderborn,1608
4311,Idir Ouali,2014,6,0,0,4,0,1,0,M S,Paderborn,296
4334,Mirnes Pepic,2014,2,0,0,0,0,0,0,S,Paderborn,20
4363,Thomas Bertels,2014,1,0,0,0,0,0,0,S,Paderborn,3

In [47]:
agrupacion_jugador = df.groupby(['nombre_jugador'])[['tiempo']].sum()
agrupacion_jugador.sort_values('tiempo', ascending=False).head(1)

                tiempo
nombre_jugador
Danilo           31012

In [60]:
media_tiempo = df[df['tiempo']>20]
media_tiempo

,nombre_jugador,año,juegos,goles,goles_sin_penalti,tiros,asistencias,tarjetas_amarillas,tarjetas_rojas,posicion,nombre_equipo,tiempo,jugador_id
jugador_id,,,,,,,,,,,,,
8865,Ollie Watkins,2020,9,6,5,22,1,0,0,F,Aston Villa,810,3420
675,Jack Grealish,2020,9,5,5,26,5,2,0,F M,Aston Villa,810,3420
592,Ross Barkley,2020,6,2,2,17,1,0,0,M,Aston Villa,454,3420
1024,Tyrone Mings,2020,9,2,2,7,1,2,0,D,Aston Villa,810,3420
7726,Ezri Konsa Ngoyo,2020,9,2,2,7,0,0,0,D,Aston Villa,810,3420
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4259,Daniel Brückner,2014,23,0,0,8,1,5,0,D,Paderborn,2024,3420
4260,Patrick Ziegler,2014,27,0,0,11,0,7,0,D M S,Paderborn,1948,3420
4267,Florian Hartherz,2014,10,0,0,1,2,1,1,D S,Paderborn,775,3420
4268,Christian Strohdiek,2014,22,0,0,6,0,2,0,D S,Paderborn,1608,3420
4311,Idir Ouali,2014,6,0,0,4,0,1,0,M S,Paderborn,296,3420

In [69]:
total_goles = df['goles'].sum()
total_goles_sin_penales = df['goles_sin_penalti'].sum()

porcentaje_goles_penales = round(((total_goles - total_goles_sin_penales) / total_goles * 100),2)
f'{porcentaje_goles_penales:.2f}%'
porcentaje_goles_penales

8.97

In [75]:
agrupar_por_asistencia = df(['asistencias']>0)
agrupar_por_asistencia

TypeError: '>' not supported between instances of 'list' and 'int'

In [ ]:
agrupar_por_asistencia = df.groupby(['asistencias'])[['goles']].sum()

In [77]:
filtrado = df['asistencias'] > 1
filtrado

jugador_id
8865    False
675      True
592     False
1024    False
7726    False
        ...
4267     True
4268    False
4311    False
4334    False
4363    False
Name: asistencias, Length: 18633, dtype: bool